*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;

}
h1{
    color:pink;
    font-size: 3rem;

}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    margin: 50px auto;
    width: 80%;
    height: 100vh;
}
.text-center{
    text-align: center;
}

.bg-dark{
    background-color: black;
    color: white;
}
.pt-5{
    padding-top: 50px;
}
.pt-4{
    padding-top: 40px;
}
.pt-3{
    padding-top: 30px;
}
.pt-2{
    padding-top: 20px;
}
.mt-5{
    margin-top: 50px;
}
.mt-4{
    margin-top: 40px;
}
.mt-3{
    margin-top: 30px;
}
.mt-2{
    margin-top: 20px;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px green;
    

}
.gap{
    gap: 20px;
}
.col{
    width: 30%;
}
.col-70{
    width: 70%;
}
