*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;

}
h1{
    color:pink;
    font-size: 3rem;

}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: lightblue;
}
.container{
    margin: 50px auto;
    width: 80%;
    height: 100vh;
}
.text-center{
    text-align: center;
}

.bg-dark{
    background-color: black;
    color: white;
}
.pt-5{
    padding-top: 50px;
}
.pt-4{
    padding-top: 40px;
}
.pt-3{
    padding-top: 30px;
}
.pt-2{
    padding-top: 20px;
}
.mt-5{
    margin-top: 50px;
}
.mt-4{
    margin-top: 40px;
}
.mt-3{
    margin-top: 30px;
}
.mt-2{
    margin-top: 20px;
}
.formdipendente{
    border-top: 2px solid black;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px green;
    

}
.p-left{
    padding-left: 10px;
}
.gap{
    gap: 20px;
}
.col{
    width: 30%;
}
.col-70{
    width: 70%;
}
.btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: blue;
    color: white;
    
}
label {
  display: block;
  margin-bottom: 4px; /* piccolo spazio tra label e input */
  font-size: 1.2rem;
}
input {
  width: 50%;
  padding: 6px;
  box-sizing: border-box;
  border: 2px double rgb(27, 31, 233);
}


@media screen and ( max-width: 800px){
    .col{
        width: 100%;
    }
    input{
        width: 100%;
    }

}
